
<h3>Ingresa una tarea</h3>
<form class="crearTodo" action="/todos" method="POST">
  <input type="text" name="title">
  <input type="submit" value="Crear">
</form>

<h3>Tareas pendientes</h3>
<div id="todo-pendientes" class="todo-pendientes">
  
</div>

<h3>Tareas completadas</h3>
<div id="todo-completados" class="todo-completados">
  
</div>

<script id="todo-template" type="text/x-handlebars-template">
  {{#each todos}}
    <article class="todo">
    <div>
      <span><i class="fa fa-thumb-tack" aria-hidden="true"></i> </span>
      <h4>{{title}}</h4>
      <a class="delete"  href="/todos/{{id}}" title="Eliminar Tarea"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      {{#if done}}
        <span class="check" title="Tarea Completa"><i class="fa fa-check" aria-hidden="true"></i></span>
      {{else}}
        <a class="pending"  href="/todos/{{id}}" title="Completar Tarea"><i class="fa fa-spinner" aria-hidden="true"></i></a>
      {{/if}}
    </div>
    </article>
  {{/each}}
</script>

<!-- {"id"=>3926, "title"=>"Titulo de la tarea", "done"=>false, "created_at"=>"2017-04-16T19:31:26.593Z", "updated_at"=>"2017-04-16T19:31:26.593Z"} -->